body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

scrollbar {
  width: 5px;
  background: #d7e8f3;
  border-radius: 3px;
}

.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

/* Animation for buttons */
.btn {
  transition: background-color 0.3s scale(1);
}

.btn:hover {
  background-color: #457B9D;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


.gradient-bkg {
  background: linear-gradient(20deg, #f8f9fa, #d7e8f3);
}

/* IMAGES */
img {
  border-radius: 5px;
  overflow: hidden;
}

.
.progress-bar {
  background-color: #d7e8f3;
  border-radius: 3px;
  width: 60%;
  margin: 20px 0;
  padding: 14px;
  text-align: center;
}

..progress-bar.before {
  background-color: #457B9D;
  width: 0%; .style color    }