<h1>Privacy Policy</h1>

<p>This privacy policy describes how we collect, use, and protect your personal information when you use our service. The safety and security of your information are important to us.</p>


<h2>Collection of Information</h2>

<p>Personal data is solely collected to improve personalized experiences, which include your name, email, and user preferences. This data is used to personalize your experience and provide customized content. We store this data within our secure database. We do not share this with any third-party without your permission. </p>


<h2>Cookies and Tracking Cookies</h2>

<p>We may use cookies to improve browser experiences. In this section, we explain the use of cookies and how they can be controlled by you through browser configurations. These cookies are only used for the provided services and will not desclose personal information without your permission.</p>
