<h1>Terms and Conditions</h1>

<p>These terms and conditions governn the use of our application. By accessing or using our application, you agree to comply with these terms. Please read these conditions carefully before using the application. </p>


<h2>Use Of Service</h2>
<p>The application provides a variety of services to support users with their health go analysis, fitness and dietets. The provided information is general in nature and is not intended to be personalized, nor is any medical or professional advice replacement. </p>


<h2>Limitations of Liability</h2>
<p>Our services provided are provided as is, and we limit our liability for any incorrect or outdated information. We may, at our sole discretion, update these terms with or without prior notice.</p>
